<!DOCTYPE html>
<html>
<head>
    <title>JSON Viewer</title>
</head>
<body>
    <h1>JSON Viewer</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Birthday</th>
            </tr>
        </thead>
        <tbody>
            {% for person in data['people'] %}
            <tr>
                <td>{{ person['name'] }}</td>
                <td>{{ person['address'] }}</td>
                <td>{{ person['birthday'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
